django
djangorestframework  # работа с сервером
psycopg2-binary # с БД
python-decouple # приватность
Pillow # картинка
djangorestframework-simplejwt  # токен
dj-config-url # в одну строчку написать БД
django-filter
drf-yasg # документация
